<% provide(:title, "About") %>
<h1>About</h1>
<p>
  This is the About page telling you how things are done in
  <a href="https://www.vk.com/the_one_and_only_number_one"><em>Kolya and folks</em>
  community</a>.
</p>
