<% provide(:title, "Contact") %>
<h1>Contact</h1>
<p>
  You can find the Contact page about the social app at the
  <a href="https://www.vk.com/the_one_and_only_number_one"><em>Kolya and folks</em>
  contact page</a>.
</p>